//
//  DevelopmentConfig.xcconfig
//  BigBurgerApple
//
//  Created by Roland Lariotte on 06/09/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

/// Entry point for the BigBurgerServer in development.
BIGBURGER_SERVER_BASE_URL = https:/$()/uad.io/
